{% extends 'list.html' %}
{% load static %}
{% block columns %}
            <th scope="col" style="width: 8%;">DNI</th>
            <th scope="col" style="width: 8%;">Cod C.Rentas</th>
            <th scope="col" style="width: 8%;">Cod P.Rentas</th>
            <th scope="col" style="width: 10%;">Nombres</th>
            <th scope="col" style="width: 15%;">Apellidos</th>
            <th scope="col" style="width: 10%;">Persona Ju.</th>
            <th scope="col" style="width: 10%;">RUC</th>
            <th scope="col" style="width: 20%;">Telefono</th>
            <th scope="col" style="width: 20%;">Correo</th>
            <th scope="col" style="width: 20%;">Deudas</th>
            <th scope="col" style="width: 20%;">Opciones</th>
{% endblock %}
{% block rows %}
	{% for obj in object_list %}
        <tr>
            <td>{{ obj.DNI }}</td>
            <td>{{ obj.cod_contri_rentas }}</td>
            <td>{{ obj.cod_predial_rentas }}</td>
            <td>{{ obj.nombres }}</td>
            <td>{{ obj.apellidos}}</td>
            <td>{{ obj.persona_juridica }}</td>
            <td>{{ obj.ruc }}</td>
            <td>{{ obj.telefono }}</td>
            <td>{{ obj.user.email }}</td>
            <td>{{ obj.Deudas }}</td>
            <td class="text-center">
                <a href="{% url 'editcontrib' obj.id %}" class="btn btn-primary btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'delcontrib' obj.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

