{% extends 'list.html' %}
{% load static %}
{% block columns %}
    <th scope="col" style="width: 8%;">Nro</th>
    <th scope="col" style="width: 8%;">cuc</th>
    <th scope="col" style="width: 5%;">cod_ref_catastral</th>
    <th scope="col" style="width: 8%;">departamento</th>
    <th scope="col" style="width: 5%;">provincia</th>
    <th scope="col" style="width: 20%;">distrito</th>
    <th scope="col" style="width: 10%;">Sector</th>
    <th scope="col" style="width: 4%;">lote</th>
    <th scope="col" style="width: 5%;">Manzana</th>
    <th scope="col" style="width: 20%;">DNI_Propietario</th>
    <th scope="col" style="width: 20%;">Nombres</th>
    <th scope="col" style="width: 20%;">Opciones</th>
    {% endblock %}
{% block rows %}
    {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.cuc }}</td>
                <td>{{ obj.cod_ref_catastral }}</td>
                <td>{{ obj.departamento }}</td>
                <td>{{ obj.provincia }}</td>
                <td>{{ obj.distrito }}</td>
                <td>{{ obj.sector }}</td>
                <td>{{ obj.manzana }}</td>
                <td>{{ obj.lote }}</td>
                <td>{{ obj.propietario.DNI }}</td>
                <td>{{ obj.propietario.nombres }}</td>


                <td class="text-center">
                    <a href="{% url 'editpredio' obj.id %}" class="btn btn-primary btn-xs btn-flat">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-xs btn-flat">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
